---
import Layout from '@/layouts/Layout.astro';
import Fita from '@/components/Fita';
import Planos from '@/components/Planos';
import Banner from '@/components/Banner';
import CTA from '@/components/CTA';
import QuemSomos from '@/components/QuemSomos';

---

<Layout>

	<Banner href="/banners/Home.mp4" client:only/>
	<!-- <img src="/banners/HomeBlack.png" alt="Home Black" class="max-lg:hidden">
	<img src="/banners/HomeBlackMobile.png" alt="Home Black Mobile" class="hidden max-lg:block"> -->

	<Fita client:only/>

	<Planos client:only/>

	<img src="/banners/Banner.png" class="mt-16" />

	<CTA client:only/>

	<QuemSomos client:only/>

	<a href="https://indique.massa.net.br/" class="mt-16 w-3/4 mx-auto mb-16 block hover:opacity-90 transition-opacity duration-300">
		<img src="/banners/Indique.png" alt="Indique e Ganhe" class="w-full cursor-pointer" />
	</a>
</Layout>
